<template>
    <div>

        <q-btn class="btn-notifications" round color="primary" @click="showNotifications" icon="notifications" />
        <span v-if="notification_count > 0" class="notification-count">{{notification_count}}</span>
        <q-btn class="btn-logout" round color="red" @click="logOut" icon="exit to app" />

        <div class="row">
            <div class="col-12 social_container" @click="open = true; getUser()">
                <img :src="user.photoURL ? user.photoURL : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSYxS9pmm5zvvIFiz3nEWvsBZSx90Tul-sxQtelbXudn82ZCHX'">
                <span>{{ user.displayName }}</span>
            </div>
        </div>

        <q-modal class="modal" v-model="open">
            <div class="row">
                <div class="col-12">
                    <q-btn round icon="highlight off" color="negative" @click="open = false" style="float: right;" />
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-12">
                    <q-input v-model="user_m.display_name" float-label="Meu nome"/>
                </div>
            </div> -->
            <div class="row">
                <div class="col-12">
                    <q-input v-model="user_m.email" float-label="Meu e-mail"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <q-input v-model="user_m.phone_number" float-label="Meu número de celular"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 centralize">
                <q-btn icon="thumb up" color="primary" @click="update_user">Gravar</q-btn>
                </div>
            </div>
        </q-modal>

    </div>
</template>

<script>
// Default
import firebase from 'firebase'

// Quasar
import { QBtn, QFixedPosition, QModal, QIcon, QInput, QLayout } from 'quasar'

// Domain
import User from '../../domain/user/User'
import UserService from '../../domain/user/UserService'

export default {
    components: {
        QBtn,
        QFixedPosition,
        QModal,
        QIcon,
        QInput,
        QLayout
    },
    props: {
        uid: {
            required: true,
            type: String
        }
    },
    data () {
        return {
            open: false,
            user: new User(),
            user_m: {}, // Object User Modal
            notification_count: 0
        }
    },
    created () {
        const vm = this

        const database = firebase.database()

        // Initiate Users Service
        // this.service = new UserService(vm.$http)

        // Verify if User exists, if it does, show its contacts
        vm.user = firebase.auth().currentUser
        if (!vm.user) {
            vm.$router.push('/')
        }

        // Show User's count notifications
        database.ref('geolocation').orderByChild('secondary_user').equalTo(vm.user.uid).on('value', function(snapshot) {
            vm.notification_count = snapshot.numChildren()
        })
    },
    methods: { 
        logOut () {
            firebase.auth().signOut()
            this.$router.push('/')
        },
        showNotifications () {
            this.$router.push('/notifications')
        },
        update_user () {
            const vm = this

            const database = firebase.database()

            database.ref('users/' + vm.user.uid).update({
                display_name: vm.user.displayName,
                email: vm.user_m.email ? vm.user_m.email : '',
                phone_number: vm.user_m.phone_number ? vm.user_m.phone_number : ''
            })

            this.open = false
        },
        getUser () {
            const vm = this

            const database = firebase.database()

            database.ref('users/' + vm.user.uid).once('value', function(snapshot) {
                vm.user_m = snapshot.val()
            })
        }
    },
}
</script>

<style scoped>
    .btn-logout {
        margin: 1em;
        position: fixed;
        right: 0px;
    }
    .btn-notifications {
        left: 0px;
        margin: 1em;
        position: fixed;
    }
    .notification-count {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #fff !important;
        border-radius: 50%;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
        left: 0px;
        margin: 2.2em;
        position: fixed;
        background-color: red;
        width: 1.8em;
        line-height: 1.8em;
    }
    .social_container {
        background-color: #FFFFFF;
        margin-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
    }
    .social_container img {
        border: solid 4px #047be3;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 35%;
    }
    .social_container span {
        background-color: #047BE3;
        border-radius: 15px;
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        padding: 5px 15px;
        position: relative;
        top: -0.2em;
    }
    .centralize {
        text-align: center;
    }
    .modal .row {
        margin: 7px 5px;
    }
</style>
