<template>
    <div>
        <div class="menu">
            <div class="row title">
                <div class="col-12">
                    <h3>AppRadar</h3>
                </div>
            </div>
            <div class="row logo">
                <div class="col-12">
                    <img src="http://via.placeholder.com/150x150">
                </div>
            </div>
            <div class="row options">
                <div class="col-12">
                    <div id="firebaseui-auth-container"></div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import firebase from 'firebase'
import firebaseui from 'firebaseui'
import { QBtn } from 'quasar'

export default {
    components: {
        QBtn
    },
    data() {
        return {}
    },
    methods: {

    },
    mounted() {
        var uiConfig = {
            // signInSuccessUrl: '/home',
            signInOptions: [
                firebase.auth.EmailAuthProvider.PROVIDER_ID,
                // firebase.auth.FacebookAuthProvider.PROVIDER_ID,
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            ]
        }

        let ui = firebaseui.auth.AuthUI.getInstance();

        if (!ui) {
            ui = new firebaseui.auth.AuthUI(firebase.auth())
        }

        ui.start('#firebaseui-auth-container', uiConfig)
    }
}
</script>

<style src="firebaseui/dist/firebaseui.css"></style>
<style scoped>
    .menu {
        margin-top: -2em;
        left: 50%;
        position: fixed;
        top: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .menu .options {
        margin-top: 1em;
    }
</style>