<template>
    <div>

        <q-modal class="modal" v-model="open">
            <div class="row">
                <div class="col-12">
                    <q-btn round icon="highlight off" color="negative" @click="open = false" style="float: right;" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <q-input v-model="contact.display_name" float-label="Nome do contato"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <q-input v-model="contact.email" float-label="E-mail do contato"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <q-input v-model="contact.phone_number" float-label="Número de celular do contato"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 centralize">
                <q-btn icon="person add" color="primary" @click="save_contact">Salvar Contato</q-btn>
                </div>
            </div>
            <div class="row">
                <div class="col-12 centralize">
                <q-btn icon="import contacts" color="primary" @click="import_contacts">Importar Contatos</q-btn>
                </div>
            </div>
        </q-modal>

        <q-list class="contact-list">
            <q-list-header>Contatos<q-icon name="add circle" class="add-contact" @click="open = true" /></q-list-header>
            <q-item v-for="v_contact in contacts">
                <q-item-side icon="person" color="primary" />
                <q-item-main @click="ask_contact_permission(v_contact)">
                    <q-item-tile label>{{ v_contact.display_name }}</q-item-tile>
                    <q-item-tile sublabel>{{ v_contact.phone_number || ' Sem número ' }}</q-item-tile>
                </q-item-main>
                <q-item-side icon="delete" color="red" @click="delete_contact(v_contact, v_contact.key)" />
            </q-item>

            <q-item v-if="contacts.length < 1">
                <q-item-main>
                    <q-item-tile label>Nenhum contato cadastrado.</q-item-tile>
                </q-item-main>
            </q-item>
        </q-list>

    </div>
</template>

<script>
// Default
import firebase from 'firebase'
import Vue from 'vue'

// Quasar
import { Dialog, Loading, QBtn, QIcon, QInput, QItem, QItemMain, QItemSide, QItemTile, QModal, QList, QListHeader, QSpinnerGears } from 'quasar'

// Domain
import Contact from '../domain/contact/Contact'
import ContactService from '../domain/contact/ContactService'

export default {
    components: {
        Dialog,
        Loading,
        QBtn,
        QIcon,
        QInput,
        QItem,
        QItemMain,
        QItemSide,
        QItemTile,
        QModal,
        QList,
        QListHeader,
        QSpinnerGears
    },
    data () {
        return {
            contact: new Contact(),
            contacts: [],
            open: false,
            user: {}
        }
    },
    computed: {
        orderedName () {
            // return _.orderBy(this.contacts, 'display_name')
        }
    },
    created () {
        const vm = this

        // Initiate Contacts Service
        vm.service = new ContactService(firebase.database())

        // Verify if User exists, if it does, show its contacts
        vm.user = firebase.auth().currentUser
        if (!vm.user) {
            vm.$router.push('/')
        }

        // List User's contacts by its Google UID
        let ref = vm.service.list_contacts(vm.user.uid)
        // It's a watch, that's why no encapsulation
        ref.on('value', function(snapshot){
            const items = []
            
            snapshot.forEach(function (item) {
                let contact = item.val()
                contact.key = item.key
                items.push(contact)
            })

            items.sort(function(a, b) {
                let nameA = a.display_name.toLowerCase(), nameB = b.display_name.toLowerCase()

                if (nameA < nameB)
                    return -1 
                if (nameA > nameB)
                    return 1

                return 0
            })

            vm.contacts = items ? items : []
        })
    },
    methods: {
        import_contacts () {
            const vm = this

            Dialog.create({
                title: 'Confirmação Importação',
                message: `Você realmente deseja importar todos os contatos de sua lista?`,
                buttons: [{
                    label: 'Não',
                    color: 'negative',
                    handler () {}
                }, {
                    label: 'Importar',
                    color: 'positive',
                    handler () {
                        Loading.show({
                            spinner: QSpinnerGears,
                            message: 'Seus contatos estão sendo importados. Aguarde um momento.',
                            messageColor: 'white',
                            spinnerSize: 200, // in pixels
                            spinnerColor: 'white',
                            customClass : 'bg-primary'
                        })

                        // If the device is ready, it's going to find its contacts
                        Vue.cordova.on('deviceready', () => {
                            Vue.cordova.contacts.find(['displayName'], contacts => {

                                contacts.forEach(function (contact) {
                                    // Push each contact found in the Mobile
                                    vm.service.push_contact(
                                        vm.user.uid,
                                        contact.displayName ? contact.displayName : '',
                                        contact.emails ? contact.emails[0].value : '',
                                        contact.phoneNumbers ? contact.phoneNumbers[0].value : ''
                                    )
                                })

                                Loading.hide()
                                vm.open = false
                            }, err => {
                                console.log(err)
                            })
                        })
                    }
                }]
            })
        },
        save_contact () {
            const vm = this

            vm.service.push_contact(
                vm.user.uid,
                vm.contact.display_name,
                vm.contact.email,
                vm.contact.phone_number
            )

            vm.contact = new Contact()
            vm.open = false
        },
        ask_contact_permission (contact) {
            const vm = this

            Dialog.create({
                title: 'Solicitar Localização',
                message: `Solicitar a localização de ${contact.display_name}?`,
                buttons: [{
                    label: 'Sim',
                    color: 'positive',
                    handler () {
                        const database = firebase.database()

                        database.ref('users').orderByChild('email').equalTo(contact.email).once('value', function(snapshot) {
                            if (snapshot.val()) {
                                // Found uid / key user
                                let contact_uid = Object.keys(snapshot.val())[0]

                                vm.service.push_permission(
                                    vm.user.uid,
                                    vm.user.displayName,
                                    contact_uid,
                                    snapshot.val()[contact_uid].display_name
                                )
                            } else {
                                database.ref('users').orderByChild('phone_number').equalTo(contact.phone_number).once('value', function(snapshot) {
                                    if (snapshot.val()) {
                                        // Found uid / key user
                                        let contact_uid = Object.keys(snapshot.val())[0]

                                        vm.service.push_permission(
                                            vm.user.uid,
                                            vm.user.displayName,
                                            contact_uid,
                                            snapshot.val()[contact_uid].display_name
                                        )
                                    } else {
                                        // Dialog message when User is not found
                                        Dialog.create({
                                            title: 'Usuário Não Localizado',
                                            message: `Usuário selecionado não registrado em nosso banco de dados`,
                                            buttons: [{
                                                label: 'Ok',
                                                color: 'positive',
                                                handler () {}
                                            }]
                                        })
                                    }
                                })
                            }
                        })
                    }
                }, {
                    label: 'Não',
                    color: 'negative',
                    handler () {}
                }]
            })
        },
        delete_contact (contact, contact_id) {
            const vm = this

            Dialog.create({
                title: 'Confirmação Exclusão',
                message: `Você realmente deseja excluir ${contact.display_name} de sua lista?`,
                buttons: [{
                    label: 'Não',
                    color: 'positive',
                    handler () {}
                }, {
                    label: 'Excluir',
                    color: 'negative',
                    handler () {
                        vm.service.remove_contact(vm.user.uid, contact_id)
                    }
                }]
            })
        }
    }
}
</script>

<style scoped>
    .add-contact {
        color: #047be3;
        font-size: 40px;
        margin: 4px 0px;
        position: absolute;
        right: 0.2em;
    }
    .contact-list {
        border: none;
        padding: 0px;
    }
    .contact-list .q-list-header {
        background-color: #E4E4E4;
    }
    .centralize {
        text-align: center;
    }
    .layout-page {
        min-height: 0px !important;
    }
    .modal .row {
        margin: 7px 5px;
    }
</style>
