<template>
    <div>

        <gmap-map
            ref="map"
            :center="center"
            :options="options"
            class="gmap">
            <gmap-marker
                class="markers" 
                :position="marker_1.position" 
                :clickable="false" 
                :draggable="false">
            </gmap-marker>
            <gmap-marker
                class="markers" 
                :position="marker_2.position" 
                :clickable="false" 
                :draggable="false">
            </gmap-marker>
            <gmap-polyline
                :path="polyline">
            </gmap-polyline>
        </gmap-map>

        <!-- <img v-show="show_arrow" id="arrow" src="statics/arrow.png"> -->

    </div>
</template>

<script>
// Default
import firebase from 'firebase'
import Vue from 'vue'

// Domain
import User from '../domain/user/User'
import UserService from '../domain/user/UserService'
import Contact from '../domain/contact/Contact'
import ContactService from '../domain/contact/ContactService'

export default {
    components: {},
    data () {
        return {
            center: { lat: 53.352266, lng: -6.2284179 }, 
            // center: { lat: 0, lng: 0 },
            marker_1: {
                position: { lat: 53.3519386, lng: -6.2284179 }
                // position: { lat: 0, lng: 0 }
            },
            marker_2: {
                position: { lat: 53.3519386, lng: -6.2288181 }
                // position: { lat: 0, lng: 0 }
            },
            polyline: [
                { lat: 0, lng: 0 },
                { lat: 0, lng: 0 },
            ],
            minutes_in_geo: 0,
            options: {
                draggable: true,
                disableDefaultUI: true,
                zoom: 17
            },
            primary_user: {},
            secondary_user: {},
            show_arrow: false,
            user: {},
            watchId: null,
        }
    },
    created () {
        const vm = this
        const max_time_geo = 10 // Max time in geo in minutes

        vm.user_service = new UserService(firebase.database())
        vm.contact_service = new ContactService(firebase.database())

        const database = firebase.database()

        vm.user = firebase.auth().currentUser
        if (!vm.user) {
            vm.$router.push('/')
        }

        // Google Maps API routes
        // vm.directionsService = new google.maps.DirectionsService()
        // vm.directionsDisplay = new google.maps.DirectionsRenderer()
        // vm.$nextTick(() => {
        //     vm.$refs.map.$mapCreated.then(() => {
        //         vm.directionsDisplay.setMap(vm.$refs.map.$mapObject)
        //     })
        // })

        database.ref('users/' + vm.user.uid).once('value', function(user) {
            var in_geo = user.val().in_geo
            const geo_key = user.val().geo_key

            // If User accepted geolocation, start it
            if (in_geo) {
                vm.show_arrow = true
                database.ref('geolocation/' + geo_key).once('value', function(geolocation) {
                    if (geolocation.val().primary_user == vm.user.uid) {
                        // Find User by its UID
                        let ref = vm.user_service.get_user(geolocation.val().secondary_user)
                        // Start watching its location
                        ref.on('value', function(other_user) {
                            vm.secondary_user.latEnd = other_user.val().lat
                            vm.secondary_user.lngEnd = other_user.val().lng

                            // Put a marker indicating secondary user on the map
                            vm.marker_2.position.lat = vm.secondary_user.latEnd
                            vm.marker_2.position.lng = vm.secondary_user.lngEnd

                            // vm.polyline[0].lat = vm.marker_1.position.lat
                            // vm.polyline[0].lng = vm.marker_1.position.lng
                            // vm.polyline[1].lat = vm.marker_2.position.lat
                            // vm.polyline[1].lng = vm.marker_2.position.lng

                            vm.polyline = [
                                { lat: vm.marker_1.position.lat, lng: vm.marker_1.position.lng },
                                { lat: vm.marker_2.position.lat, lng: vm.marker_2.position.lng },
                            ]

                            // Google Maps API routes
                            // vm.directionsService.route({
                            //     origin: vm.marker_1.position,
                            //     destination: vm.marker_2.position,
                            //     travelMode: 'WALKING'
                            // }, function (response, status) {
                            //     if (status === 'OK') {
                            //         vm.directionsDisplay.setDirections(response)
                            //     } else {
                            //         console.log('Directions request failed due to ' + status)
                            //     }
                            // })

                            const time_now = new Date().getTime()
                            const time_in_geo = new Date(other_user.val().time_in_geo)

                            vm.minutes_in_geo = Math.floor((time_now - time_in_geo) / 60000)

                            // Testing time difference. If more than 1 minute, stop watching
                            if (vm.minutes_in_geo > max_time_geo) {
                                database.ref('users/' + geolocation.val().secondary_user).off('value')

                                // after 1 minute, both users set in_geo false to stop watch
                                database.ref('users/' + vm.user.uid).update({
                                    in_geo: false
                                })
                                database.ref('users/' + geolocation.val().secondary_user).update({
                                    in_geo: false
                                })

                                // Hide objects indicators
                                vm.show_arrow = false
                                vm.marker_2.position = { lat: 0, lng: 0 }

                                // Hide polyline after it's done
                                vm.polyline = [
                                    { lat: 0, lng: 0 },
                                    { lat: 0, lng: 0 },
                                ]

                                // Delete geolocation
                                database.ref('geolocation/' + geo_key).remove()
                            }
                        })
                    } else {
                        // Find User by its UID
                        let ref = vm.user_service.get_user(geolocation.val().primary_user)
                        // Start watching its location
                        ref.on('value', function(other_user) {
                            vm.secondary_user.latEnd = other_user.val().lat
                            vm.secondary_user.lngEnd = other_user.val().lng

                            // Put a marker indicating secondary user on the map
                            vm.marker_2.position.lat = vm.secondary_user.latEnd
                            vm.marker_2.position.lng = vm.secondary_user.lngEnd

                            // vm.polyline[0].lat = vm.marker_1.position.lat
                            // vm.polyline[0].lng = vm.marker_1.position.lng
                            // vm.polyline[1].lat = vm.marker_2.position.lat
                            // vm.polyline[1].lng = vm.marker_2.position.lng

                            vm.polyline = [
                                { lat: vm.marker_1.position.lat, lng: vm.marker_1.position.lng },
                                { lat: vm.marker_2.position.lat, lng: vm.marker_2.position.lng },
                            ]

                            // Google Maps API routes
                            // vm.directionsService.route({
                            //     origin: vm.marker_1.position,
                            //     destination: vm.marker_2.position,
                            //     travelMode: 'WALKING'
                            // }, function (response, status) {
                            //     if (status === 'OK') {
                            //         vm.directionsDisplay.setDirections(response)
                            //     } else {
                            //         console.log('Directions request failed due to ' + status)
                            //     }
                            // })

                            const time_now = new Date().getTime()
                            const time_in_geo = new Date(other_user.val().time_in_geo)

                            vm.minutes_in_geo = Math.floor((time_now - time_in_geo) / 60000)

                            // Testing time difference. If more than 1 minute, stop watching
                            if (vm.minutes_in_geo > max_time_geo) {
                                database.ref('users/' + geolocation.val().primary_user).off('value')

                                // After 1 minute, both users set in_geo false to stop watch
                                database.ref('users/' + vm.user.uid).update({
                                    in_geo: false
                                })
                                database.ref('users/' + geolocation.val().primary_user).update({
                                    in_geo: false
                                })

                                // Hide objects indicators
                                vm.show_arrow = false
                                vm.marker_2.position = { lat: 0, lng: 0 }

                                // Hide polyline after it's done
                                vm.polyline = [
                                    { lat: 0, lng: 0 },
                                    { lat: 0, lng: 0 },
                                ]

                                // Delete geolocation
                                database.ref('geolocation/' + geo_key).remove()
                            }
                        })
                    } 
                })
            }
        })

        Vue.cordova.on('deviceready', () => {
            const options = {
                enableHighAccuracy: true,
                timeout: 5000,
                maximumAge: 20000
            }
            vm.watchId = Vue.cordova.geolocation.watchPosition((position) => {
                // alert('Latitude: '          + position.coords.latitude          + '\n' +
                //       'Longitude: '         + position.coords.longitude         + '\n' +
                //       'Altitude: '          + position.coords.altitude          + '\n' +
                //       'Accuracy: '          + position.coords.accuracy          + '\n' +
                //       'Altitude Accuracy: ' + position.coords.altitudeAccuracy  + '\n' +
                //       'Heading: '           + position.coords.heading           + '\n' +
                //       'Speed: '             + position.coords.speed             + '\n' +
                //       'Timestamp: '         + position.timestamp                + '\n')
                
                // User's latitude and longitude
                vm.primary_user.latStart = position.coords.latitude
                vm.primary_user.lngStart = position.coords.longitude

                // Update User's latitude and longitude every 10 seconds
                vm.user_service.update_user_location(vm.user.uid, vm.primary_user.latStart, vm.primary_user.lngStart)

                // Put User's point at map at center
                vm.center = {
                    lat: vm.primary_user.latStart,
                    lng: vm.primary_user.lngStart
                }

                vm.marker_1.position.lat = vm.primary_user.latStart
                vm.marker_1.position.lng = vm.primary_user.lngStart

                // Arrow directions
                vm.calculateArrowRotation(vm.primary_user.latStart, vm.primary_user.lngStart, vm.secondary_user.latEnd, vm.secondary_user.lngEnd)

                if (vm.minutes_in_geo > max_time_geo) {
                    Vue.cordova.geolocation.clearWatch(watchId)
                    vm.watchId = null
                }
            }, (err) => {
                console.log(err)
            }, options)  
        })
    },
    methods: {
        calculateArrowRotation(latStart, lngStart, latEnd, lngEnd) {
            let phoneLatitude = latStart
            let phoneLongitude = lngStart

            let destinationLatitude = latEnd
            let destinationLongitude = lngEnd

            let arrowAngle = this.bearing(phoneLatitude, phoneLongitude, destinationLatitude, destinationLongitude)

            let element = document.getElementById('arrow')
            element.style['transform'] = 'rotate(' + arrowAngle + 'deg)'
        },
        bearing(lat1,lng1,lat2,lng2) {
            let dLon = this.toRad(lng2 - lng1)
            lat1 = this.toRad(lat1)
            lat2 = this.toRad(lat2)
            let y = Math.sin(dLon) * Math.cos(lat2)
            let x = Math.cos(lat1) * Math.sin(lat2) - Math.sin(lat1) * Math.cos(lat2) * Math.cos(dLon)
            let rad = Math.atan2(y, x)
            let brng = this.toDeg(rad)

            return (brng + 360) % 360
        },
        toRad(deg) {
             return deg * Math.PI / 180
        },
        toDeg(rad) {
            return rad * 180 / Math.PI
        } 
    }
}
</script>

<style scoped>
    #arrow {
        position: absolute;
        width: 60px;
        right: 6px;
        top: 12px;
    }
    .gmap {
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .markers {
        /*position: relative;*/
    }
</style>
