<template>
    <div>

        <q-list class="notification-list">
            <q-list-header>Notificações</q-list-header>
            <q-item v-for="v_notification in notifications">
                <q-item-side icon="thumb down" color="red" @click="refuse(v_notification)" />
                <q-item-main>
                    <q-item-tile label>{{ v_notification.primary_name }}</q-item-tile>
                    <!-- <q-item-tile sublabel>.</q-item-tile> -->
                </q-item-main>
                <q-item-side icon="thumb up" color="primary" @click="authorize(v_notification)" />
            </q-item>

            <q-item v-if="notifications.length < 1">
                <q-item-main>
                    <q-item-tile label>Nenhuma notificações.</q-item-tile>
                </q-item-main>
            </q-item>
        </q-list>
        
    </div>
</template>

<script>
// Default
import firebase from 'firebase'

// Quasar
import { QItem, QItemMain, QItemSide, QItemTile, QList, QListHeader } from 'quasar'

export default {
    components: {
        QItem,
        QItemMain,
        QItemSide,
        QItemTile,
        QList,
        QListHeader
    },
    data () {
        return {
            notifications: []
        }
    },
    created () { 
        const vm = this

        const database = firebase.database()

        // Initiate Contacts Service
        // this.service = new ContactService(vm.$http)

        // Verify if User exists, if it does, show its contacts
        vm.user = firebase.auth().currentUser
        if (!vm.user) {
            vm.$router.push('/')
        }

        // List User's notifications
        database.ref('geolocation').orderByChild('secondary_user').equalTo(vm.user.uid).on('value', function(snapshot) {
            const items = []

            snapshot.forEach(function (item) {
                let notification = item.val()
                notification.key = item.key
                items.push(notification)
            })

            vm.notifications = items ? items : []
        })
    },
    methods: {
        authorize (notification) {
            const vm = this

            const database = firebase.database()

            let currentDate = firebase.database.ServerValue.TIMESTAMP

            database.ref('geolocation/' + notification.key).update({
                secondary_auth: true,
                time_in_geo: currentDate
            })

            database.ref('users/' + notification.primary_user).update({
                geo_key: notification.key,
                time_in_geo: currentDate,
                in_geo: true,
            })

            database.ref('users/' + notification.secondary_user).update({
                geo_key: notification.key,
                time_in_geo: currentDate,
                in_geo: true,
            })

            vm.$router.push('/home')
        },
        refuse (notification) {
            const database = firebase.database()

            database.ref('geolocation/' + notification.key).remove()
        }
    },
}
</script>

<style scoped>
    .notification-list {
        border: none;
        padding: 0px;
    }
    .notification-list .q-list-header {
        background-color: #E4E4E4;
    }
</style>
