<template>
	<div id="q-app">

		<q-layout ref="layout" view="hHh lpr lFr">

			<div v-if="show_menu" slot="header">
				<social-box :uid="user.uid"></social-box>
			</div>

			<q-transition
				appear
				duration="500"
				enter="fadeIn"
				leave="fadeOut"
				>
				<router-view />
			</q-transition>

			<div slot="footer">
				<q-tabs v-if="show_menu">
					<q-route-tab
						icon="home"
						to="/home"
						exact
						label="Início"
						slot="title"
					/>
					<q-route-tab
						icon="contacts"
						to="/contacts"
						exact
						label="Contatos"
						slot="title"
					/>
				</q-tabs>
			</div>

		</q-layout>

	</div>
</template>

<script>
// Default
import firebase from 'firebase'

// Quasar
import { Dialog, QLayout, QRouteTab, QTabs, QTransition } from 'quasar'

// Shared
import SocialBox from './components/shared/SocialBox.vue'

export default {
    components: {
    	Dialog,
    	QLayout,
    	QRouteTab,
    	QTabs,
    	QTransition,
    	'social-box': SocialBox
    },
    data () {
        return {
        	user: {},
        	show_menu: false
        }
    },
    created () {
    	const vm = this

        const database = firebase.database()

        firebase.auth().onAuthStateChanged((user) => {
    		const isUserSet = user => user !== null

    		if (isUserSet(user)) {
		        database.ref('geolocation/').orderByChild('primary_user').equalTo(user.uid).on('value', function(snapshot) {
		        	let geolocation = Object.keys(snapshot.val())[0]

		        	if (snapshot.val()[geolocation].secondary_auth) {
		        		Dialog.create({
                            title: 'Localização',
                            message: `Sua localização começou a ser compartilhada com ${snapshot.val()[geolocation].secondary_name}`,
                            buttons: [{
                                label: 'Continuar',
                                color: 'positive',
                                handler () {
		        					vm.$router.push('/home')
                                }
                            }]
                        })
		        	}
		        })
    			this.user = user
    			this.show_menu = true
    		} else{
    			this.$router.push('/')
    			this.show_menu = false
    		}
        })
    },
    methods: {},
}
</script>

<style>
	body {
		background-color: #FFF;
	}
</style>
<style scoped>
</style>
